@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative|MedievalSharp");
body {
  background: url("http://i66.tinypic.com/1052yir.jpg");
  background-size: cover;
  background-color: #d5d5d5;
  color: #0c0c0c;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0 auto;
  margin-top: 1rem;
}

.full-height {
  height: 100vh;
}

.front-page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.front-page-container .side-add {
  width: 12rem;
  height: 40rem;
  background: #0c0c0c;
  margin-top: 2rem;
}

.front-page-container .content,
.front-page-container .startcontent {
  background: rgba(252, 241, 211, 0.5);
  padding: 0.5rem 0rem 4rem 0rem;
  margin: 0 auto;
  width: 50%;
  margin-top: 1rem;
}

.front-page-container .content li,
.front-page-container .startcontent li {
  padding: 1rem;
}

.front-page-container .content .front-page-article-headline,
.front-page-container .startcontent .front-page-article-headline {
  font-size: 2rem;
  font-weight: 700;
}

.front-page-container .content .front-page-article-text,
.front-page-container .startcontent .front-page-article-text {
  color: #000000b0;
  text-align: justify;
}

h1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "MedievalSharp", cursive;
}

.flex-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.headermenu {
  text-align: center;
}

.title {
  font-size: 84px;
}

.title a {
  text-decoration: none;
  color: black;
}

.links > a {
  font-family: "MedievalSharp", cursive;
  color: #232222;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.links > a:hover {
  color: #ffeeb7;
}

.m-b-md {
  margin-bottom: 30px;
  font-family: "Cinzel Decorative", cursive;
}

.m-b-md > a {
  text-decoration: none;
  color: #fffdcb;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.m-b-md > a:hover {
  color: #fffd82;
}

.articlelist {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.three-col {
  width: 80%;
  -webkit-column-count: 2;
  column-count: 2;
  text-align: left;
}

.user {
  padding: 1rem;
}

.user .logout-a {
  text-decoration: none;
  color: black;
  font-family: "MedievalSharp", cursive;
  font-weight: 700;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.user .logout-a:hover {
  color: #ffeeb7;
}

.articlelink {
  font-family: "Times new Roman", cursive;
  color: #232222;
  padding: 0 25px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.articlelink:hover {
  color: #fffd82;
}

li {
  list-style-type: none;
}

.login-register-square .container .card {
  background: rgba(255, 255, 255, 0.384);
}
/*# sourceMappingURL=style.css.map */